<p id="notice"><%= notice %></p>

<p>
  <strong>Article:</strong>
  <%= @image.article_id %>
</p>

<p>
  <strong>Headline:</strong>
  <%= @image.headline %>
</p>

<p>
  <strong>Order:</strong>
  <%= @image.order %>
</p>

<p>
  <strong>Url:</strong>
  <%= @image.url %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @image.likes %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
